<div class="well">
	<div class='form-control'><h5><a href="">About MyMarket</a></h5>
	</div>
	<div>
		<p>MyMarket is the furture social market where anyone can sell/buy items/services using <span class="contact">#MTN#MOBILEMONEY</span> for <span class="contact">#Africans</span> in particular and the <span class="contact">#World</span> as whole </p>
	</div>

	<div class='form-control'><h5><strong>PEOPLE</strong></h5>
	</div>
	<div><a href='#connection'>Connections</a></div>
	<div><a href='#nearby'>Nearby</a></div>
</div>