<div class="" ng-controller="UserCtrl">
	<div class='well form-group' style='padding: 16px'>
		<div class='row'>
			<img src='http://wiseheartdesign.com/images/articles/default-avatar.png' class='col-lg-3 img-responsive img-circle' style="width:15%;" >
			<div class='col-lg-9'>
				<div class='form-control'><b>Tony Kamdjou</b></div><br>
				Live in Buea-Cameroon<br><br>
				100 people
			</div>
		</div>
	</div>
	<div class='row'>
		<div class="col col-sm-3">
			<div class='well'>
				<div class='form-control'><b>RECENT ACTIVITIES</b></div>
				<div><a href="#">Bought TV</a>
				</div>
				<div><a href="#">Bought Phone</a></div><p></p>
				<div class='form-control'><b>MEETINGS</b></div>
				<div><a href="">Tony</a></div>
				<div><a href="">Larry</a></div>
				<div><a href="">Chick</a></div><p></p>
				<div class='form-control'><b>TRUSTED 20</b></div>
				<div><a href="">Chick</a></div>
				<div><a href="">Larry</a></div>
				<div><a href=''>18 others</a></div><p></p>
				<div class='form-control'><b>BUSINESS TRAVEL</b></div>
				<div><a href="">Douala</a></div>
				<div><a href="">Edea</a></div>
				<div><a href="">Buea</a></div>
			</div>
		</div>
		<div class='col col-sm-9'>
			<div ng-include="''" scope="" onload=""></div>
		</div>
	</div>
</div>